body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-top: 100px;
}

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 300px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 300px;
    z-index: 1;
    padding: 1% 0%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
    padding: 4% 0%;
}

.dropdown-content button {
    text-decoration: none;
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 1%;
}

.dropdown-content button:hover {
    font-weight: 700;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#LawyerBar {
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
}

#searchBox {
    display: inline-block;
    position: relative;
    margin-right: -30px;
}

#searchBox input {
    font-size: 15px;
    padding: 4%;
    border: 2px solid grey;
    border-radius: 15px;
}

#searchBox i {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    font-size: 18px;
}

#filter {
    font-size: 15px;
    padding: 2.8%;
    border: 2px solid grey;
    border-radius: 15px;
}

.Lawyer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.Lawyer button {
    width: 60%;
    margin-left: 30%;
    font-size: 18px;
    border-radius: 20px;
    height: 40px;
    justify-self: center;
    align-self: center;
}

#heading {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}