.navbar {
    top: 0;
    display: flex;
    z-index: 100;
    width: 100%;
    position: fixed;
    background-color: white;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.right-nav {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
    margin-left: 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    color: rgba(102, 102, 102, .8);
    font-size: 15px;
}

a:hover {
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    color: rgba(252, 137, 137, 0.8);
}

.nav>p {
    padding: 0 20px 0 10px;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    color: rgba(102, 102, 102, .8);
    font-size: 15px;
}

.nav>p:hover {
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    color: rgba(252, 137, 137, 0.8);
}

#space {
    width: 50px;
}

.signup {
    border: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 1px;
    border-radius: 35px;
    font-weight: 500;
    color: #fff;
    line-height: 26px;
    font-size: 15px;
    padding: 9px 35px;
    /* transition: all .2s ease-in-out; */
    background-size: 200% 100%;
    cursor: pointer;
    /* background-image: linear-gradient(to right,#23cea5 0%,#11abd5 50%,#23cea5 100%); */
    background-image: linear-gradient(to right, #EC008C 0%, #fc6767 50%, #EC008C 100%) !important;
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 14%);
}

.signup:hover {
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-image: linear-gradient(to right, #EC008C 100%, #fc6767 10%, #EC008C 0%) !important;
}