*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.nav{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 0px;

}

.nav>img{
    width: 70px;
    margin: 0px 20px;
}

.nav>p{
    color: teal;
    font-size: 30px;
}

.container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    width: 99.9%;
    margin: auto;
    height: 100%;
}

.change{
    /* border: 1px solid blue; */
    width: 40%;
    display: flex;
    justify-content: center;
}
.change>div{
    /* border: 1px solid red; */
    position: absolute;
    color: white;
    top: 40%;
    text-align: center;
    margin: auto;
}
.change p{
    margin: 25px;
    font-size: 20px;
}

.change button{
    padding: 20px 50px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: skyblue;
    font-size: 20px;
    color: white;
    cursor: pointer;

}

.change>img{
    width: 100%;
    height: 843px;
}


.fillDetail{
    /* border: 1px solid green; */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createAccount{
    text-align: center;
}
.createAccount h1{
    color: teal;
    margin: 20px;
    font-size: 50px;
}

.createAccount p{
    margin: 20px;
    font-size: 20px;
}

.fillCredential{
    /* border: 1px solid blue; */
    margin: 30px;
}

.fillCredential input{
    display: block;
    height: 50px;
    width: 400px;
    margin: 10px 0px;
    padding-left: 10px;
    outline: none;
    font-size: 20px;
}

#select{
    height: 50px;
    width: 415px;
    margin: 10px 0px;
    font-size: 20px;
    padding-left: 10px;
    outline: none;
}

#giveType{
    height: 30px;
    width: 365px;
    margin: 10px 0px;
    padding-left: 10px;
    outline: none;
}

.signUpBtn{
    padding: 20px 50px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: skyblue;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 600px) and (max-width:900px){
    
    
   
    
}

@media screen and (min-width: 0px) and (max-width:599px){
 
    
}