*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    width: 99.9%;
    margin: auto;
}

.change{
    /* border: 1px solid blue; */
    width: 40%;
    display: flex;
    justify-content: center;
}
.change>div{
    /* border: 1px solid red; */
    position: absolute;
    color: white;
    top: 40%;
    text-align: center;
    margin: auto;
}
.change p{
    margin: 25px;
}

.change button{
    padding: 15px 50px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: skyblue;
    color: white;
    cursor: pointer;
}

.change>img{
    width: 100%;
    height: 600px;
}


.fillDetail{
    border: 1px solid green;
    /* background-color: teal; */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
}

.createAccount{
    /* border: 1px solid red; */
    text-align: center;
}
.createAccount h1{
    color: teal;
    margin: 20px;
}

.fillCredential{
    /* border: 1px solid blue; */
    margin: 30px;
}

.fillCredential input{
    height: 30px;
    width: 350px;
    margin: 10px 0px;
    padding-left: 10px;
    outline: none;
}
.fillCredential>p{
    color: green;
}

#select{
    height: 30px;
    width: 365px;
    margin: 10px 0px;
    padding-left: 10px;
    outline: none;
}

#giveType{
    height: 30px;
    width: 365px;
    margin: 10px 0px;
    padding-left: 10px;
    outline: none;
}

.signUpBtn{
    padding: 15px 50px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: skyblue;
    color: white;
    cursor: pointer;
    /* font-size: 17px; */
}

@media screen and (min-width: 600px) and (max-width:900px){
    .container{
        /* border: 1px solid red; */
        display: grid;
       
    }
    .change{
        /* border: 1px solid blue; */
        width: 100%;
    }
    .change>div{
        /* border: 1px solid red; */
        width: 100%;
        position: absolute;
        color: white;
        top: 20%;
        text-align: center;
        margin: auto;
    }
    .change p{
        margin: 25px;
    }
    .change>img{
      width: 820px;
    }
    
    
    .fillDetail{
        /* border: 1px solid green; */
        /* background-color: teal; */
        width: 100%;
    }
    
    .createAccount{
        /* border: 1px solid red; */
        text-align: center;
    }
    .createAccount h1{
        color: teal;
        margin: 20px;
        
    }
    
   
    
}

@media screen and (min-width: 0px) and (max-width:599px){
    .container{
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-evenly;
        width: 99.9%;
        margin: auto;
    }
    
    .change{
        /* border: 1px solid blue; */
        width: 40%;
        display: flex;
        justify-content: center;
    }
    .change>div{
        /* border: 1px solid red; */
        position: absolute;
        color: white;
        top: 40%;
        text-align: center;
        margin: auto;
    }
    .change p{
        margin: 25px;
    }
    
    .change button{
        padding: 15px 50px;
        border-radius: 20px;
        border: 2px solid white;
        background-color: skyblue;
        color: white;
        cursor: pointer;
    }
    
    .change>img{
        width: 100%;
        height: 600px;
    }
    
    
    .fillDetail{
        border: 1px solid green;
        /* background-color: teal; */
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 200px; */
    }
    
    .createAccount{
        /* border: 1px solid red; */
        text-align: center;
    }
    .createAccount h1{
        color: teal;
        margin: 20px;
    }
    
    .fillCredential{
        /* border: 1px solid blue; */
        margin: 30px;
    }
    
    .fillCredential input{
        height: 30px;
        width: 350px;
        margin: 10px 0px;
        padding-left: 10px;
        outline: none;
    }
    .fillCredential>p{
        color: green;
    }
    
    #select{
        height: 30px;
        width: 365px;
        margin: 10px 0px;
        padding-left: 10px;
        outline: none;
    }
    
    .signUpBtn{
        padding: 15px 50px;
        border-radius: 20px;
        border: 2px solid white;
        background-color: skyblue;
        color: white;
        cursor: pointer;
        /* font-size: 17px; */
    }
    
}